@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
  
  /* Palette Complète du Logo */
  --color-brand-blue-deep: #1e04ed;
  --color-brand-blue-dark: #2d19c4;
  --color-brand-blue: #6a63f6; /* 9ème couleur */
  --color-brand-blue-light: #a9a0ec; /* 6ème couleur */
  
  --color-brand-red-deep: #e41110;
  --color-brand-red: #e4736f;
  
  --color-brand-dark: #373627;
  --color-brand-darker: #4c4b05;
  --color-brand-light: #f2e9e9;

  /* Redéfinition de la couleur primary pour utiliser le bleu plus clair (6a63f6) */
  --color-primary: var(--color-brand-blue);

  @keyframes float {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
  }

  @keyframes bounce-slow {
    0%, 100% { transform: translateY(-5%); animation-timing-function: cubic-bezier(0.8, 0, 1, 1); }
    50% { transform: translateY(0); animation-timing-function: cubic-bezier(0, 0, 0.2, 1); }
  }

  --animate-float: float 3s ease-in-out infinite;
  --animate-bounce-slow: bounce-slow 2s infinite;
}

@layer base {
  html {
    @apply scroll-smooth;
  }
}

@layer utilities {
  .card-hover {
    @apply transition-all duration-300 hover:shadow-xl hover:-translate-y-1;
  }
}